<!-- main/templates/main/autopark.html -->
{% extends 'main/base.html' %}

{% block title %}Автопарк - MediteranExpress{% endblock %}

{% block content %}
<div class="main-content">
    <div class="box" style="width: 45%; height: auto;">
        <h2>Маленькие автобусы</h2>
        <p>Здесь будут ссылки на формы для маленьких автобусов.</p>
    </div>
    <div class="box" style="width: 45%; height: auto;">
        <h2>Большие автобусы</h2>
        <p>Здесь будут ссылки на формы для больших автобусов.</p>
    </div>
</div>
{% endblock %}
