{% extends 'main/base.html' %}
{% block title %}Карточка автомобиля - MediteranExpress{% endblock %}

{% block content %}
            <a href="{% url 'autopark_main' %}" class="back-button">Назад</a>
<style>
    .container {
        width: 80%;
        margin: 10px;
    }

    .car-info {
        margin-bottom: 20px;
    }

    .car-details {
        display: flex;
        justify-content: space-between;
    }

    .car-detail {
        width: 45%;
    }

    .scrollable-container {
        display: flex;
        justify-content: space-between;
    }

    .scrollable {
        width: 100%;
        height: 300px;
        overflow-y: auto;
    }

    .works-container,
    .faults-container {
        width: 49%;
    }

    .card {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        display: none;
    }

    .popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        padding: 20px;
        border-radius: 5px;
        display: none;
        z-index: 10;
        max-width: 500px;
        width: 100%;
        max-height: 80vh; /* Фиксированная максимальная высота окна */
        overflow-y: auto; /* Включение вертикальной прокрутки */
    }

    .work-table-container {
        margin-top: 20px;
        width: 60%;
        display: grid;
        grid-template-columns: 150px 100px 100px 150px 100px 100px;
        gap: 10px;
        margin-bottom: 20px;
    }

    .work-table {
        width: 100%;
        border-collapse: collapse;
    }

    .work-table th, .work-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .work-table th {
        cursor: pointer;
        background-color: #f2f2f2;
    }

    .work-table th:hover {
        background-color: #ddd;
    }

    .filters-grid {
        display: contents;
    }

    .filter-date {
        grid-column: 1 / 2;
    }

    .filter-work {
        grid-column: 3 / 4;
    }

    #dateFilter {
        width: 70%;
        box-sizing: border-box;
    }

    #workFilter {
        width: 100%;
        box-sizing: content-box;
        margin-left: 0px;
    }

    .work-table {
        grid-column: 1 / -1;
    }

    .work-fields {
    display: flex;
    flex-direction: column;
    gap: 3px; /* Расстояние между строками */
    margin-bottom: 7px; /* Отступ снизу для каждого блока */
    border: 1px solid #ddd; /* Лёгкая рамка для визуального выделения */
    padding: 3px; /* Отступы внутри контейнера */
    border-radius: 5px; /* Сглаженные углы */
    background-color: #f9f9f9; /* Светлый фон для удобочитаемости */
}

.field-group {
    display: flex;
    flex-direction: column;
}

.remove-work-field {
    align-self: flex-end; /* Расположить кнопку справа */
    background-color: #ff4d4d; /* Красный цвет кнопки удаления */
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.remove-work-field:hover {
    background-color: #d43f3f; /* Темнее при наведении */
}

    .back-button {
        display: inline-block;
        padding: 8px 12px;
        margin: 10px 0;
        font-size: 14px;
        color: white;
        background-color: #007bff;
        border: none;
        border-radius: 4px;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s, box-shadow 0.3s;
    }

    .back-button:hover {
        background-color: #0056b3;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-decoration: none;
    }
</style>

<div class="container">
    <div class="car-info">
        <h2>Информация об автомобиле</h2>
        <div class="car-details">
            <div class="car-detail">
                <strong>Марка:</strong> {{ car.brand }}<br>
                <strong>Модель:</strong> {{ car.model }}<br>
                <strong>ВИН-код:</strong> {{ car.vin_code }}<br>
                <strong>Год выпуска:</strong> {{ car.year }}<br>
                <strong>Пробег:</strong> {{ car.mileage }}<br>
            </div>
            <div class="car-detail">
                <strong>Объем двигателя:</strong> {{ car.engine_volume }}<br>
                <strong>Тип КПП:</strong> {{ car.transmission_type }}<br>
            </div>
        </div>
    </div>

    <div class="work-table-container">
        <h2>Проведенные работы</h2>
        <div class="filters-grid">
            <div class="filter-date">
                <input type="date" id="dateFilter" onkeyup="filterByDate()">
            </div>
            <div class="filter-work">
                <input type="text" id="workFilter" placeholder="Фильтр..." onkeyup="filterWorks()">
            </div>
        </div>
        <table id="workTable" class="work-table">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Дата</th>
                    <th onclick="sortTable(1)">Пробег</th>
                    <th onclick="sortTable(2)">Наименование работы</th>
                    <th>Запчасти</th>
                    <th>Кол-во</th>
                    <th>Артикул</th>
                    <th>Выполнил</th>
                </tr>
            </thead>
            <tbody>
                {% for work in works %}
                    <tr>

                        <td>{{ work.0 }}</td>
                        <td>{{ work.1 }}</td>
                        <td>{{ work.2 }}</td>
                        <td>{{ work.3 }}</td>
                        <td>{{ work.4 }}</td>
                        <td>{{ work.5 }}</td>
                        <td>{{ work.6 }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">No work records found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Кнопка для открытия окна добавления работы -->
    <button id="openAddWorkPopupButton">Добавить работу</button>

    <!-- Всплывающее окно с формой добавления работы -->
    <div id="addWorkPopup" class="popup">
        <button class="close-button" onclick="closeAddWorkPopup()">&times;</button>
        <form id="addWorkForm" method="POST" action="{% url 'save_work_or_add' car.vin_code %}">
            {% csrf_token %}
            <div>
                <label for="work-date">Дата:</label>
                <input type="date" id="date" name="date" required>
            </div>
            <div>
                <label for="state-number">Пробег:</label>
                <input type="number" id="mileage" name="mileage" required>
            </div>
           <div id="work-fields-container">
    <div class="work-fields">
        <label for="work-name">Наименование работ:</label>
        <input type="text" id="work-name" name="work_name[]" required>

        <label for="used-parts">Запчасть:</label>
        <input type="text" id="used-parts" name="used_parts[]" required>

        <label for="quantity">Количество:</label>
        <input type="number" id="quantity" name="quantity[]" required min="1" step="1">

        <label for="article">Артикул:</label>
        <input type="text" id="article" name="article[]" required>

    </div>
</div>

            <button type="button" onclick="addWorkFields()">Добавить строку</button>
            <button type="submit">Сохранить</button>
        </form>
    </div>

    <div class="overlay" onclick="closeAddWorkPopup()"></div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('openAddWorkPopupButton').addEventListener('click', function() {
            document.getElementById('addWorkPopup').style.display = 'block';
            document.querySelector('.overlay').style.display = 'block';
            setCurrentDate();
        });
    });

    function closeAddWorkPopup() {
        document.getElementById('addWorkPopup').style.display = 'none';
        document.querySelector('.overlay').style.display = 'none';
    }

    function addWorkFields() {
    const workFieldsContainer = document.getElementById('work-fields-container');
    const workFields = document.createElement('div');
    workFields.classList.add('work-fields');
    workFields.innerHTML = `
        <div class="field-group">
            <label for="work-name">Наименование работ:</label>
            <input type="text" name="work_name[]" required>
        </div>

        <div class="field-group">
            <label for="used_parts">Запчасть:</label>
            <input type="text" name="used_parts[]" required>
        </div>

        <div class="field-group">
            <label for="quantity">Количество:</label>
            <input type="number" name="quantity[]" required>
        </div>

        <div class="field-group">
            <label for="article">Артикул:</label>
            <input type="text" name="article[]" required>
        </div>



        <button type="button" class="remove-work-field" onclick="removeWorkFields(this)">&times;</button>
    `;
    workFieldsContainer.appendChild(workFields);
}


    function removeWorkFields(button) {
        button.parentElement.remove();
    }

    function setCurrentDate() {
        const dateField = document.getElementById('date');
        const today = new Date().toISOString().split('T')[0];
        dateField.value = today;
    }
</script>
{% endblock %}
