<!-- main/templates/main/garage.html -->
{% extends 'main/base.html' %}

{% block title %}Гараж - MediteranExpress{% endblock %}

{% block content %}
     <a href="{% url 'home' %}" class="back-button">Назад</a>
<div class="main-content">

{% if user.is_authenticated %}
    {% if user.is_staff or user.is_superuser %}
    <a href="{% url 'warehouse_new' %}" class="box">Новый склад</a>
      {% else %}
     <p class="no-access-message"></p>
    {% endif %}
{% endif %}

{% if user.is_authenticated %}
    {% if user.is_staff or user.is_superuser %}
    <a href="#" class="box">Старый склад</a>
      {% else %}
     <p class="no-access-message"></p>
    {% endif %}
{% endif %}

    <a href="{% url 'mechanics_list' %}" class="box">Механики</a>

{% if user.is_authenticated %}
    {% if user.is_staff or user.is_superuser %}
    <a href="#" class="box">Инструмент</a>
      {% else %}
     <p class="no-access-message"></p>
    {% endif %}
{% endif %}

</div>
    <style>

        .back-button {
        display: inline-block;
        padding: 8px 12px;
        margin: 10px 0;
        font-size: 14px;
        color: white;
        background-color: #007bff;
        border: none;
        border-radius: 4px;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s, box-shadow 0.3s;
    }

        .back-button:hover {
        background-color: #0056b3;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-decoration: none;
    }
    </style>
{% endblock %}
